body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #36384d;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffff;
  padding: 24px;
  border-radius: 36px;
}

.signup {
  text-align: center;
}

.signup input[type="email"] {
  width: 376px;
  height: 56px;
  padding: 16px, 198px, 16px, 24px;
}
